/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: "Poppins", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */


.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */


nav,
.nav-links {
  display: flex !important;
}

nav {
  justify-content: space-around !important;
  align-items: center !important;
  height: 17vh !important;
}

.nav-links {
  gap: 2rem !important;
  list-style: none !important;
  font-size: 1.5rem !important;
}

a {
  color:  black !important;
  text-decoration: none !important;
  text-decoration-color: black !important;
}

a:hover {
  color: grey !important;
  text-decoration: underline !important;
  text-underline-offset: 1rem !important;
  text-decoration-color: rgb(181, 181, 181) !important;
}

.logo {
  font-size: 2rem !important;
}

.logo:hover {
  cursor: default !important;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none !important;
}

.hamburger-menu {
  position: relative !important;
  display: inline-block !important;
}

.hamburger-icon {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 24px !important;
  width: 30px !important;
  cursor: pointer !important;
}

.hamburger-icon span {
  width: 100% !important;
  height: 2px !important;
  background-color: black !important;
  transition: all 0.3 ease-in-out !important;
}

.menu-links {
  position: absolute !important;
  top: 100% !important;
  right: 0 !important;
  background-color: white !important;
  width: fit-content !important;
  max-height: 0 !important;
  overflow: hidden !important;
  transition: all 0.3 ease-in-out !important;
}

.menu-links a {
  display: block !important;
  padding: 10px !important;
  text-align: center !important;
  font-size: 1.5rem !important;
  color: black !important;
  text-decoration: none !important;
  transition: all 0.3 ease-in-out !important;
}

.menu-links li {
  list-style: none !important;
}

.menu-links.open {
  max-height: 300px !important;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px) !important;
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0 !important;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px) !important;
}

.hamburger-icon span:first-child {
  transform: none !important;
}

.hamburger-icon span:first-child {
  opacity: 1 !important;
}

.hamburger-icon span:first-child {
  transform: none !important;
}

/* SECTIONS */

section {
  padding-top: 6vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  font-family: "Poppins", sans-serif;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 100px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
  font-size: 3rem;
}

.section__text__p1 {
  text-align: center;
  font-size: 2rem;
}

.section__text__p2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.title {
  padding-bottom: 2;
  font-size: 4rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.text-container{
  text-align: center;
  font-size: 1.6rem;
}

.details-container{
  font-size: 1.7rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

/* .btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
} */

/* ABOUT SECTION */

#about {
  height: auto;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  max-height: 600px;
  max-width: 400px;
  margin-top: 100px;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.2rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__pic-container {
  height: 800px;
  width: 800px;
  margin: auto 0;
  justify-content: center;
}

/* EXPERIENCE SECTION */

#experience {
  font-size: 1.5rem;
  height: auto;
  width: auto;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.article-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-around;
  overflow: auto;
}

.workexperience-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: col;
  gap: 5rem;
  justify-content: space-around;
  overflow: auto;
}

article {
  display: flex;
  width: 7rem;
  justify-content: space-around;
  gap: 1.5rem;
}

article .icon {
  cursor: default;
}

/* .PETlogo {
  display: flex;
  height: 5rem;
  width: auto;
  margin: auto 0;
  aspect-ratio: auto;
}

.PClogo {
  display: flex;
  height: 20rem;
  width: auto;
  margin: auto 0;
  aspect-ratio: auto;
}

.PElogo {
  display: flex;
  height: 200px;
  width: auto;
  margin: auto 0;
  aspect-ratio: auto;
}

.CFlogo {
  display: flex;
  height: 200px;
  width: auto;
  margin: auto 0;
  aspect-ratio: auto;
} */

/* CARD */

.my-custom-card .card-img-container {
  height: 600px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-custom-card .card-img-top {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.my-custom-card .card {
  border: none;
  transition: transform 0.2s;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.my-custom-card .card:hover {
  transform: scale(1.05);
}

.my-custom-card .card-body {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.my-custom-card .card-title {
  font-size: 2rem;
  color: #343a40;
  margin-bottom: 0;
}

.my-custom-card .card-text {
  color: #6c757d;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
  padding-top: 15rem;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 30%;
  height: 30%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding-top: 30rem;
  padding-bottom: 20rem;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* FOOTER SECTION */

footer {
  height: 25vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}



/* Override Bootstrap button styles */
.btn {
  font-weight: 600 !important;
  padding: 1rem !important;
  border-radius: 2rem !important;
  font-size: 1.5rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid !important;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53) !important;
  color: white !important;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid !important;
}

.btn-container {
  gap: 1rem !important;
}

.btn-color-1:hover {
  background: rgb(53, 53, 53) !important;
  color: black !important;
}

.sections{
  display: flex;
  flex-direction: column;

}

#work-experience{
  height: auto;
  width: auto;
  padding-top: 15rem;
}